<%= form_for :question, url: question_create_path do |f| %>
    <p>
        <h4><%= f.label 'Заголовок вопроса:' %></h4>
        <%= f.text_field :header, class: :text_field%>
    </p>
    <p>
        <h4><%= f.label 'Текст вопроса:' %></h4>
        <%= f.text_field :text, class: :text_field %>
    </p>
    <%= f.submit 'Сохранить вопрос' %>
<% end %>