<h1>Вопросы</h1>

<%= link_to 'Создать вопрос', question_new_path%>
<% @quest.each do |q| %>
    <% @q = q%>
        <div>
            <h4><%= q.header %></h4>
            <p><%= q.text %></p>
            <%= render 'answer/show', object: @q %>
        </div>
    <%= link_to 'Подробнее', "show/#{q.id}" %>
<% end %>
