<%= form_for :answer, url: answer_create_path do |f| %>
    <p>
        <%= f.label 'Дать ответ:' %>
        <%= f.text_field :text %>

        <%= f.hidden_field :question_id , value: params.require(:id) %>
    </p>
    <%= f.submit 'Сохранить ответ' %>
<% end %>
