<%= form_for :answer, url: answer_create_path, class: :form_answer do |f| %>
    <p>
        <%= f.label 'Дать ответ:' %>
        <%= f.text_field :text %>

        <%= f.hidden_field :question_id, value: @q.id %>
    </p>
    <%= f.submit 'Сохранить ответ' %>
<% end %>
