<div class='correction border-left padding-left' >
    <% @ans.corrections.each do |cor| %>
      <p>
        <%= cor.text %>
        <h4 id="visible_correction_success_<%= @ans.id %>_form" onclick="OnClickСorrectionSuccessDisplay('visible_correction_success_<%= @ans.id %>')">Принять правку?</h4>
      </p>
    <div  class="visible_correction"  id="visible_correction_success_<%= @ans.id %>">
      <% @cor = cor %>>
      <%= render 'correction/form_success', object: @cor %>
    </div>
    <% end %>
</div>